<footer class="bg-color-backgroundDark">
    <div class="container">
        <div class="topFooterContainer">
            <div class="imgContainer">
                <app-logo class="logo-container" />
            </div>
            <div class="navContainer">
                <nav>
                    <ul>
                        <li><button class="text-color-text hover-text-color-textDark" (click)="goToSection('hero')">home</button>
                        <li><button class="text-color-text hover-text-color-textDark" (click)="goToSection('about')">about</button>
                        <li><button class="text-color-text hover-text-color-textDark" (click)="goToSection('portfolio')">project</button>
                        <li><button class="text-color-text hover-text-color-textDark" (click)="goToSection('contact')">contact</button>
                    </ul>
                </nav> 
            </div>
            <div class="socialMediaContainer">
                <span class="iconContainer bg-color-accent hover-bg-color-primary">
                    <a href="mailto:igor.pelivanovic@gmail.com" class="text-color-text">
                        <fa-icon [icon]="icon.faEnvelope"></fa-icon>
                    </a>
                </span>
                <span class="iconContainer bg-color-accent hover-bg-color-primary">
                    <a href="https://rs.linkedin.com/in/igor-pelivanovic-b11653264" target="_blank" class="text-color-text">
                        <fa-icon [icon]="icon.faLinkedin"></fa-icon>
                    </a>
                </span>
            </div>
        </div>
        <div class="bottomFooterContainer">
            <p class="text-color-text"><a class="text-color-primary before-bg-color-primary after-bg-color-primary" href="">igor pelivanovic</a></p>
        </div>
    </div>
</footer>