<section id="hero" appSectionIntoView>
    <div class="container">
        <div class="content">
            <h1 class="leftTranslate opacity" appIntoSectionObserver [addClass]="'intoView'">
                <span class="text-color-text">Hi, my name is</span>
                <span class="name text-color-accent">igor pelivanović</span>
                <div class="typeWritterContainer">
                    <span class="typewriter text-color-text" Typewritter [text]="typeWriteingContent" [letterDelay]="150">&nbsp;</span>
                </div>
            </h1>
            <div class="buttonsContainer">
                <button class="downTranslate opacity primary-btn bg-color-primary text-color-text hover-bg-color-accent" (click)="goToSection('contact')" appIntoSectionObserver [addClass]="'intoView'" >
                    contact me
                </button>
                <button type="button" class="downTranslate opacity secondery-btn border-color-primary text-color-primary before-bg-color-primary hover-text-color-text" (click)="openFile()" appIntoSectionObserver [addClass]="'intoView'" >
                    get my CV
                </button>
            </div>
        </div>
        <div class="logoContainer before-bg-color-accent">
            <div class="imgContainer">
                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 933 920">
                    <rect class="cls-1" x="3" y="480" width="216" height="432" rx="90"/>
                    <rect class="cls-1" x="3" y="241.5" width="216" height="216" rx="90"/>
                    <path class="cls-2" d="M99,225H589.5A130.5,130.5,0,0,1,720,355.5h0A130.5,130.5,0,0,1,589.5,486h-252a90,90,0,0,0-90,90V828a90,90,0,0,0,90,90h36a90,90,0,0,0,90-90V702h126C780.87,702,936,546.87,936,355.5h0C936,164.13,780.87,9,589.5,9H99A90,90,0,0,0,9,99v36A90,90,0,0,0,99,225Z" transform="translate(-6 -6)"/>
                </svg>
            </div>
        </div>
    </div>
</section>