<section id="hero" appSectionIntoView>
    <div class="container">
        <div class="content">
            <h1 class="leftTranslate opacity" appIntoSectionObserver [addClass]="'intoView'">
                <span class="text-color-text">Hi, my name is</span>
                <span class="name text-color-accent">igor pelivanović</span>
                <div class="typeWritterContainer">
<!--                     <span class="typewriter text-color-text" Typewritter [text]="typeWriteingContent" [letterDelay]="150">&nbsp;</span>
 -->                
                    <span class="typewriter text-color-text">JavaScript frontend web developer</span>
               </div>
            </h1>
            <div class="buttonsContainer">
                <button class="downTranslate opacity primary-btn bg-color-primary text-color-text hover-bg-color-accent" (click)="goToSection('contact')" appIntoSectionObserver [addClass]="'intoView'" >
                    contact me
                </button>
                <button type="button" class="downTranslate opacity secondery-btn border-color-primary text-color-primary before-bg-color-primary hover-text-color-text" (click)="openFile()" appIntoSectionObserver [addClass]="'intoView'" >
                    get my CV
                </button>
            </div>
        </div>
        <div class="logoContainer before-bg-color-accent">
            <div class="imgContainer">
                <app-logo/>
            </div>
        </div>
    </div>
</section>