$themeColors: (
    text: #f2f3fd,
    background: #05061f,
    primary: #5155e1,
    secondery: #0a0c3d,
    accent: #363cdd,
    textDark: #9395A2,
    backgroundDark: #060718,
    error: #730b0b,
    errorLight: #c51c1c
);
$breakPoints: (
    "small": 576px,
    "medium": 768px ,
    "large": 992px ,
    "extraLarge": 1200px ,
    "extraExtraLarge": 1400px ,
);
