<section id="portfolio" appSectionIntoView horizontalScroll>
    <div class="container">
        <div class="stickyContainer">
            <div class="titleSection">
                <h2 class="text-color-text">projects</h2>
            </div>
            <div class="stickyContent" #borderContainer>
                <div class="overflowContainer text-color-text" #elementsContainer>
                    <div class="siteContent" *ngFor="let project of projects">
                        <div class="siteContainer">
                            <div class="imgsContainer">
                                <img [src]="'assets/imgs/'+project.fileName" [alt]="project.fileName+'_img'">
                            </div>
                            <div class="contentContainer">
                                <h3 class="text-color-primary">{{project.title}}</h3>
                                <p>{{project.body}}</p>
                                <div class="links-container">
                                    <a [href]="project.previewUrl" target="_blank" class="bg-color-primary text-color-text hover-bg-color-accent">
                                        <span class="link-title">demo</span>
                                        <span>
                                            <fa-icon class="icon" [icon]="icon.faArrowUpRightFromSquare"></fa-icon>
                                        </span>
                                    </a>
                                    <a [href]="project.codeUrl" target="_blank" class="bg-color-primary text-color-text hover-bg-color-accent">
                                        <span class="link-title">code</span>
                                         <span>
                                            <fa-icon class="icon" [icon]="icon.faCode"></fa-icon>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>